* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #f4f2ee;
  font-family: Poppins;
}

.header {
  background-color: #ffffff;
}

.bg-red {
  background-color: #e60023;
}

.bg-green {
  background-color: #00a400;
}

.logo {
  font-size: 48px;
  color: #0a66c2;
}

.active {
  color: #0b65c2;
}

.cover {
  width: 100%;
}

.font-20 {
  font-size: 20px;
  color: #000000;
}

.font-16 {
  font-size: 16px;
  color: #07000099;
}

.p-0 {
  padding: 0;
}

.max-w-550 {
  max-width: 550px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  background-color: #ffffff;
  border-radius: 16px;
  margin: 20px 0;
  padding: 32px;
}

.main-heading {
  font-size: 24px;
  font-weight: 600;
  color: #000;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-48 {
  padding-left: 48px;
  padding-right: 48px;
}

.profile-name,
.location {
  display: flex;
  align-items: center;
  gap: 6px;
}

.city {
  color: #07000099;
}

.heading {
  font-size: 16px;
}

span {
  color: #0a66c2;
  font-size: 14px;
}

.button {
  cursor: pointer;
  font-weight: 600;
  border-radius: 40px;
}

.primary-button {
  background-color: #0a66c2;
  color: white;
  border: none;
}

.secondary-button {
  background-color: #ffffff;
  color: #0a66c2;
  border: 2px solid #0a66c2;
}

.secondary-button2 {
  background-color: #ffffff;
  color: #07000099;
  border: 1px solid #07000099;
}

.column-title {
  font-weight: 600;
}

.d-flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.gap-16 {
  gap: 16px;
}

.gap-20 {
  gap: 20px;
}

.grow-1 {
  flex: 1;
}

.bg-lightgray {
  background-color: #dde7f1;
}

.bg-white {
  background-color: #ffffff;
}

.br-16 {
  border-radius: 16px;
}

.p-16 {
  padding: 16px;
}

.px-32 {
  padding-left: 32px;
  padding-right: 32px;
}

.pb-24 {
  padding-bottom: 24px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-24 {
  margin-bottom: 24px;
}

.ml-16 {
  margin-left: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.w-full {
  width: 100%;
}

.profile-language {
  background-color: #ffffff;
  border: 1px solid #f0f0f0;
}

.line {
  border: 1px solid #cccccc;
}
